.container {
  width: 100%;
  height: 184px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}

.price {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #2196f3;
}

.info {
  display: flex;
  margin-bottom: 10px;
}

.info > * {
  width: 140px;
  margin-right: 20px;
}

.info > *:last-child {
  margin-right: 0;
}

@media screen and (max-width: 560px) {
  .info > * {
    width: unset;
    flex-grow: 1;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 16px;
    border-radius: 0;
  }
  .info > * {
    margin-right: 10px;
  }
}
