.tickets_list {
  width: 100%;
  margin: auto auto 20px;
}

.tickets_list > div:not(:last-child) {
  margin-bottom: 20px;
}

.btn_show_more {
  width: 100%;
  height: 50px;
  background-color: #2196f3;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
}

.btn_show_more:hover:not(.btn_show_more--disabled) {
  box-shadow: 0 5px 5px rgba(33, 150, 243, 0.5);
}

.btn_show_more:active:not(.btn_show_more--disabled) {
  box-shadow: inset 0 5px 5px black;
}

.btn_show_more--disabled {
  background-color: lightgray;
}

.btn_show_more--hidden {
  display: none;
}

@media screen and (max-width: 400px) {
  .btn_show_more {
    border-radius: 0;
  }
}
